.siteContent {
  height: calc(100vh - 250px);
  background: white;
  padding: 20px 15px 20px 15px;
  border: 1px solid #e3e3e3;
}

.siteDetailContent {
  height: calc(100vh - 150px);
  background: white;
  padding: 20px 15px 20px 15px;
  border: 1px solid #e3e3e3;
}

.searchStyle {
  height: 90px;
  background: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
}

.searchStyleCol1 {
  height: 60px;
  background: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
}
